 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ticket Tracker</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <style type="text/css">
        body {padding-top: 50px;}
         /* navbar */
        .navbar-header {
        background-color: #FFA500;
        border-color: #FFA500;
        }
        h2 {
        text-align: center;
        }
        .centered
        {
        text-align:center;
        }
        .btn btn-info-text {
        color: #FFFFFF
        }

    </style>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
 <h2>Let's see how many events you went to this year and just how much you spent living it up!</h2>
 <div class="centered">
    <button type="button" class="btn btn-info"><a href="https://www.eventbrite.com/oauth/authorize?response_type=code&client_id=BOIHE6CFAPR5PW2H5Y" style="color: #FFFFFF">
        Calculate
    </a></button>
 </div>
   <nav class="navbar-fixed-top navbar-header" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">Ticket Tracker</a>
        </div>

      </div>
    </nav>
</body>
</html>


