 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ticket Tracker</title>
    <script src="//js.pusher.com/2.2/pusher.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <style type="text/css">
       body {padding-top: 50px;}
       body {padding-top: 50px;}
         /* navbar */
        .navbar-header {
        background-color: #FFA500;
        border-color: #FFA500;
        }
        h2 {
        text-align: center;
        }
        .centered
        {
        text-align:center;
        }
    </style>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
   <nav class="navbar-fixed-top navbar-header" role="navigation">
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand navbar-header">Ticket Tracker</a>
        </div>
      </div>
    </nav>

   {% if events <= 1 %}
        <h2><img src="https://s-media-cache-ak0.pinimg.com/736x/45/aa/a4/45aaa4b2f952e97187e7f32331d2ce1f.jpg"></h2>
        <h2> It looks like you only purchased {{ events }} ticket on Eventbrite this year, spending a mere ${{ total_cost }} </h2>
        <h3 class="centered"> Maybe try checking out the event below which my brutish algorithm has randomly selected for you! </h3>
        <h3 class="centered"><a href="{{ random_event_uri }}"> {{ random_event_name }} </a> </h3>

   {% elif events <= 1 %}
        <h2><img src="https://s-media-cache-ak0.pinimg.com/736x/45/aa/a4/45aaa4b2f952e97187e7f32331d2ce1f.jpg"></h2>
        <h2> It looks like you only purchased {{ events }} tickets on Eventbrite this year, spending a mere ${{ total_cost }} </h2>
        <h3 class="centered"> Maybe try checking out the event below which my brutish algorithm has randomly selected for you! </h3>
        <h3 class="centered"><a href="{{ random_event_uri }}"> {{ random_event_name }} </a> </h3>

   {% elif total_cost > 500.00 %}
        <h2><img src="https://s-media-cache-ak0.pinimg.com/736x/23/01/fb/2301fbcb340a777b42fefb2931d36504.jpg"></h2>
        <h2> It looks like you're keeping the lights on at EventbriteHQ. You've attended a total of {{ events }} events this year, spending a total of ${{ total_cost }} on tickets. Party On!</h2>

   {% else %}
        <h2><img src="https://s-media-cache-ak0.pinimg.com/736x/45/aa/a4/45aaa4b2f952e97187e7f32331d2ce1f.jpg"></h2>
        <h2>2015 has been a good year for events in your life! You've purchased {{ events }} tickets on Eventbrite, spending a total of ${{ total_amount }}.</h2>

   {% endif %}
</body>
</html>
